@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Radio Canada Big", sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #874CCC, #10439F);
}
.container{
    width: 95%;
    max-width: 576px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #10439F;
}
.container h1{
    margin-bottom: 16px;
    background: -webkit-linear-gradient(45deg, #874CCC, #C65BCF, #10439F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-boxes{
    display: flex;
}
.text-boxes textarea{
    flex: 1;
    border: 1px solid #10439F;
    outline: none;
    height: 200px;
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
}
.text-boxes .input-text{
    border-top-left-radius: 4px;
}
.text-boxes .output-text{
    border-top-right-radius: 4px;
    border-left: none;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 1px solid #10439F;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 16px;
}
.controls i{
    color: #10439F;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    transition: all .3s ease-in-out;
    text-align: center;
}
.controls i:hover{
    background-color: #10439F;
    color: #fff;
}
.controls .input-controls, 
.controls .output-controls{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.controls .select{
    display: flex;
    align-items: center;
}
.controls .select i{
    font-size: 16px;
    padding: 0;
    width: auto;
    height: auto;
}
.controls .select i:hover{
    color: #10439F;
    background-color: transparent;
}
.controls select{
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #10439F;
    font-weight: bold;
    padding-right: 5px;
    cursor: pointer;
}
.translate-btn{
    width: 100%;
    padding: 10px 0;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(45deg, #874CCC, #C65BCF, #F27BBD, #10439F);
}